---
import BaseLayout from "../../layouts/Base.astro";
const allPosts = await Astro.glob('./*.md');
---
<BaseLayout>
    <section>
        <h1>Liste des articles</h1>
        <ul role="list">
            {
                allPosts.map((post) => (
                    <li>
                        <a href={`${post.url}/`}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>

<style>

body{
text-align: center;

}

a {
    color: #C20E19;
}
</style>