<footer>
	<article>
	<h1>SPORT NEWS, LE BLOG SPORT !</h1>
	<footer>
			<p>© 2023 Sportnews
			</p>
	</footer>
</article>
</footer>

<style>
	article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
		padding-bottom: 10px;
    background-color: #C20E19;
    color: #fff;
}


</style>