<header>
<body>
		<nav>
				<a href="/">Accueil</a>
				<a href="/blog">Articles</a>
				<a href="">Healthy</a>
				<a href="">Contact</a>
				<a href="">Qui sommes nous ?</a>
		</nav>
		 
</body>
</header>	

<style>
	header {
		background-color: #C20E19;
	}
	nav a{ 
text-decoration: none; 
color: #ffffff; 
background: #C20E19; 
height: 36px; 
line-height: 33px; 
padding: 5px 10px; 
font-family: sans-serif; 
font-size: 20px; 
transition: .3s; 
}
nav a:hover{ 
color: #000000; 
}
header{
	padding:20px 20px;
text-align: center;
}
</style>